/* Fix Navbar set display Fixed */
body::before {
  content: "";
  display: block;
  height: 60px;
}
.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(audiTT01.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(audiTT05.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(audiTT04.jpg);
}
.carousel-item {
  height: 48rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 48rem;
}
